#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(-45deg, #00ffb3, #6f00ff);
}

#title-slogan {
    top: 6vh;
    right: 5vw;
    z-index: 4;
    width: 70vw;
    color: rgb(255, 255, 255);
    position: absolute;
    transition: 1s;
    text-align: right;
}


#title-slogan h1 {
    font-size: 7vw;
    margin-bottom: 1vw;
}

#title-slogan .slogan {
    clear: right;
    margin-bottom: 0vw;
    font-size: 3vw;
}
#rect {
    position: relative;
    float: right;
    background-color: rgb(161, 255, 250);
    width: 10vw;
    height: 2vh;
    right: 0;
    margin-bottom: 3vh;
}
#credits {
    margin-top: 2vh;
    color: white;
    font-size: 2vw;
}

#waveimg {
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    z-index: 2;
}
#wavetopimg {
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

#links {
    position: absolute;
    z-index: 4;
    bottom: 0vh;
    left: 0vw;
    width: 55vw;
    height: 60vh;
    text-decoration: none;
}

.link {
    position: absolute;
    border: 5px solid rgba(161, 255, 250, 0.2);
    border-radius: 3vw;
    width: 11vw;
    height: 11vh;
    padding: 10px;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}
.link:hover {
    background-color: rgba(161, 255, 250, 0.5);
    border: 5px solid rgba(255, 255, 255, 1);
    transform: scale(1.1);
    box-shadow: 0 0 7px white;
}

.linktext {
    position: absolute;
    font-size: 1.7vw;
    left: 0;
    right: 0;
    top: 2.3vh;
    color: white;
}

#linesbetween {
    position: absolute;
    z-index: 1;
    bottom: 0vh;
    left: 0vw;
}

