#page3 {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: 2s;
}

#bigInjustice {
    position: relative;
    /* border: 1px solid white; */
    width: 50vw;
    left: 25vw;
}

#page3 h1 {
    color: red;
    font-family: "Oswald";
    text-align: center;
    font-size: 10vw;
    position: relative;
}

#redline {
    border: 1px dotted red;
    background-color: red;
    height: 2vh;

}